[Desktop Entry]
Version=1.0
Type=Application
Name=Gemini
GenericName=Gemini
Exec=open https://gemini.google.com
StartupNotify=true
Categories=Productivity;
Icon=/home/kahnwong/.local/fleet/icons/gemini.png
