[Desktop Entry]
Version=1.0
Type=Application
Name=LINE
GenericName=LINE Chat
Exec=google-chrome --app="chrome-extension://ophjlpahpchlmihnnnihgmmeilfjmjjc/index.html" --profile-directory="Default"
StartupNotify=true
Categories=Social;
Icon=/home/kahnwong/.local/fleet/icons/line.png
