[Unit]
Description=teapipe connect

[Service]
User=kahnwong
Group=kahnwong
Type=simple
ExecStart=/usr/local/bin/teapipe connect
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
