[Desktop Entry]
Version=1.0
Type=Application
Name=YubiKey Manager
GenericName=YubiKey Manager
Exec=sudo /usr/local/bin/yubikey-manager-qt-latest-linux.AppImage
StartupNotify=true
Categories=Utilities;
Icon=/home/kahnwong/.local/fleet/icons/yubikey-manager.png
